.List{
    width:100%;
    max-width: 700px;
}

.ListIndex{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    min-width: 15em;
    height: 3.5em;
    border-radius: 20px;
    transition: 0.5s all ease;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    cursor: pointer;
    margin-top: 8px;
}

.TwoColumn{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .Left{
        width: 50%;
        margin-right: 8px;
    }
    .Right{
        width: 50%;
    }
}