.List{
    width:100%;
    max-width: 700px;
    height: 500px;
    background: rgba(255,255,255,0.3);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;

}
.ListWrapper{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.ListName{
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.7);

}
.ListItems{
    height: 100%;

    overflow: scroll;
    .Item{

        margin-top: 10px;
        width: 90

    }
}

.ListIndex{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 3.5em;
    border-radius: 20px;
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    animation: appear 0.5s;
}

.ListIndex:hover{
    text-decoration: line-through;

}

.Date{
    font-size: 0.8em;
}

@keyframes appear{
    from{
        opacity: 0;
        height: 0em;
    }
    to{
        opacity: 1;
        height: 3.5em;
    }
}