.List{
    width:100%;
    max-width: 700px;
    height: 500px;
    background: rgba(255,255,255,0.3);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;

}
.ListWrapper{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.ListName{
    color: rgba(0,0,0,0.4);
    animation: alive 30s infinite alternate;


}
.ListItems{
    height: 100%;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    .Item{
        margin-bottom: 10px;
        animation: appear 0.5s;
        animation-fill-mode: forwards;

    }
}

.ListItems::-webkit-scrollbar {
    width: 10em;
    background: black;
}
.ListSummary{
    width: 100%;
    max-width: 700px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.ListIndex{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 3.5em;
    border-radius: 20px;
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.ListIndex:hover{
    text-decoration: line-through;

}

.Date{
    font-size: 0.8em;
}

@keyframes appear{
    0%{
        opacity: 0;
        height: 0em;
        width: 0%;
    }
    50%{
        opacity: 0.5;
        height: 3.5em;
    }
    100%{
        opacity: 1;
        height: 3.5em;
        width: 100%;
    }
}

@keyframes alive{
    0%{
        opacity: 0.2;

    }
    25%{
        opacity: 0.5;
        filter: blur(10px)

    }
    50%{
        opacity: 0.8;
        filter: blur(0px)

    }
    75%{
        opacity: 1;
        filter: blur(5px)

    }
    100%{
        opacity: 0.2;

    }
}